<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Foglald le életed legnagyobb élményét!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Kalandra fel! Válassz a számtalan izgalmas lehetőség közül, hogy a nyár igazi
                csodáival teli legyen!
                Itt, a Nyári Táborok birodalmában minden álmod valóra válhat.
            </p>
            <p>
                Csatlakozz hozzánk, és fedezd fel a természet csodáit, szerezz új barátokat, és hozz létre emlékezetes
                pillanatokat,
                amiket soha nem fogsz elfelejteni! Nézd át a kínálatunkat és válassz a lenyűgöző táboraink közül!
                Jelentkezz most,
                és légy részese a nyár legizgalmasabb kalandjainak!
            </p>
        </mat-card-content>
    </mat-card>
</div>
