@media screen and (min-width: 1000px) {
    mat-card {
        width: 50%;
        border-radius: 30px;
        box-shadow: 0 2px 25px black;
    }
}

@media screen and (max-width: 1000px) {
    mat-card {
        width: 100%;
        border-radius: 30px;
        box-shadow: 0 2px 25px black;
    }
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

mat-card-title {
    font-size: 30px;
}

mat-card-content {
    font-size: 25px;
    margin-top: 5%;
    line-height: 1.5;
}