html,
app-root {
    background-image: url('../photos/background.png');
    background-size: cover;
}

html,
body {
    height: 100%;
}

mat-sidenav-container {
    background-color: inherit !important;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1000px) {
    #main_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: white;
        margin: 10% 20% 10% 20%;
        align-items: center;
        border-radius: 30px;
        box-shadow: 0 2px 25px black;
    }
}

.error {
    font-weight: bold;
    font-size: large;
    color: red;
}

@media screen and (max-width: 1000px) {
    #main_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: white;
        align-items: center;
        border-radius: 30px;
        box-shadow: 0 2px 25px black;
        margin-top: 10%;
    }
}